body{
  background-image: linear-gradient(blue, whitesmoke) ;
}

html{
  background-image: linear-gradient(whitesmoke, blue) ;
}
header{
    text-align: center;
}

form.search button {
    float: left;
    width: 2%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  .current{
    float: right; 
   
    position: relative;
   right: 600px; 
   
  }

  /* need to fix this */ 
  .current img{
    
    opacity: 50%;
   
  }

  #fiveDay{
    clear: both;
    text-align: center; 
    margin: auto;
    width: 50%;
  
    padding: 10px;
    display: flex;  
    flex-wrap: wrap;
  }

  h1, p, li{
    color: black;

  }

