header{
    text-align: center;
}

form.search button {
    float: left;
    width: 2%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  .current{
    float: right; 
    border: 3px solid green;
    position: relative;
   right: 600px; 
   
  }

  /* need to fix this */ 
  .current img{
    align-content: center;
  }

  .fiveDay{
    clear: both;
    text-align: center; 
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    display: flex;  
    flex-wrap: wrap;
  }

